@if (task$ | async; as tasks){

  @for (task of tasks; track task.id){
  <article class="card task-card">
  <div class="task-card__top" >
    <h3 class="task-card__title">{{task.title}}</h3>

    <label class="toggle" aria-label="Mark task complete">
      <input type="checkbox" />
      <span class="toggle__track">
        <span class="toggle__thumb"></span>
      </span>
    </label>
  </div>

  <p class="task-card__desc">{{task.description}}</p>

  <div class="task-card__meta">
    <span class="pill">Due: {{task.dueDate}}</span>
    <span class="pill pill--muted">Created: {{task.createdAt}}</span>
  </div>

  <a class="link" [routerLink]="['/task',task.id]">Open details →</a>
</article>
  }
  
}

